/bin/
/__bin/
/obj/
/srcJava/bin/
/srcJava/obj/
/srcJava/Runtime/
/launcher/src/obj/
/updater/src/obj/
/installer/src/obj/
/src/Runtime/
.idea/
!.idea/workspace.xml

/local/

/run/launcher
/run/updater
!/run/launcher/dummy
!/run/updater/dummy
/*/build/
/*/src/build/

/venv/

*.log

ChangeLog.html
